.nav
	position: sticky
	top: 0
	display: flex
	align-items: center
	justify-content: space-around
	padding: 2rem 0
	width: 100%
	background-color: transparent
	color: #ddd
	z-index: 3

	@media screen and (max-width: 768px)
		justify-content: space-between
		padding: 2rem

	&.scrolled
		background-color: #000

	&__logo
		display: flex
		align-items: center
		gap: 1rem

		@media screen and (max-width: 500px)
			gap: .6rem

	&__logo-img
		width: 40px
		height: auto
		margin-bottom: 0.2rem

		@media screen and (max-width: 500px)
			width: 30px

	&__logo-name
		font-size: 1.4rem
		font-weight: 500
		color: #fff

		@media screen and (max-width: 500px)
			font-size: 1.2rem

	&__menu
		font-size: .8rem
		text-transform: uppercase

		@media screen and (max-width: 768px) //max dla mobile
			display: none

			&.opened
				display: flex
				flex-direction: column
				gap: .4rem
				align-items: flex-end
				position: absolute
				top: 97px
				left: 0
				padding-right: 2rem
				padding-bottom: 1.4rem
				width: 100%
				background-color: #000

				& *
					font-size: 1rem

		& *
			position: relative
			margin-left: 3rem
			transition: .3s

			@media screen and (max-width: 870px)
				margin-left: 2.2rem

			&::after
				content: ""
				position: absolute
				bottom: -5px
				left: 50%
				transform: translateX(-50%)
				height: 1px
				width: 0
				background-color: #eee
				transition: .25s

				@media screen and (max-width: 768px)
					content: none

			&:hover
				color: #fff

				@media screen and (max-width: 768px)
					color: inherit

			&:hover::after
				width: 100%

	&__menu-trigger
		display: none
		cursor: pointer

		@media screen and (max-width: 768px) //max dla mobile
			display: block

	&__menu-trigger-line
		position: relative
		height: 2px
		width: 1.6rem
		margin: 1rem 0
		background-color: #fff

		&::before,
		&::after
			position: absolute
			top: -8px
			left: 0
			content: ''
			width: 100%
			height: 100%
			background-color: #fff

		&::after
			top: 8px
